* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/*Nanbar style*/
.navbar-nav .nav-link {
  font-size: 17px;
  margin-left: 30px;
}
/*Hero style*/
.hero {
  overflow: hidden;
  background-image: url("../img/hero.jpg");
  height: 800px;
  background-position: center;
  background-size: cover;
}
.hero .card {
  padding-top: 40%;
  margin-left: 20%;
  background: transparent;
  color: white;
  height: 15px;
  width: 400px;
}
.hero .card i {
  padding-left: 10px;
}
.hero .card .get-started {
  border: none;
  padding: 10px 25px;
}
.hero .card .get-started:hover {
  padding: 10px 105px;
  transition: 0.5s;
}
/*About Style*/
.about {
  overflow: hidden;
}
.about .about-text {
  /* margin-top: 50%; */
  vertical-align: middle;
}
.about i {
  padding-left: 10px;
}
.about .about-btn {
  border: none;
  padding: 10px 25px;
  background: black;
  color: white;
}
.about .about-btn:hover {
  padding: 10px 105px;
  transition: 0.5s;
}
